<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hall.grupptoo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hallid"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hallid"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.user.andmebaasgruppit.LoginActivity" />
        <activity android:name="com.example.user.andmebaasgruppit.PasswordActivity" />
        <activity android:name="com.example.user.andmebaasgruppit.RegisterActivity" />
        <activity android:name="com.example.user.andmebaasgruppit.UserProfileActivity" />
        <activity android:name="com.example.user.andmebaasgruppit.LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>